gunicorn
alembic
blinker
cachetools
certifi
charset-normalizer
click
dnspython
dominate
email-validator==2.0.0.post2
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
google-auth-oauthlib
greenlet
httplib2
idna
itsdangerous
Jinja2
logging
Mako
MarkupSafe
oauthlib
protobuf
pyasn1
pyasn1-modules
pyClamd
pyparsing
python-dotenv
requests
requests-oauthlib
rsa
six
SQLAlchemy
typing_extensions
uritemplate
urllib3
visitor
Werkzeug
WTForms
