{% extends "bootstrap/base.html" %}

{% block title %}Privacy Policy - File Share{% endblock %}

{% block content %}
<div class="container">
    <h1>Privacy Policy</h1>
    <p>Effective Date: 1st-September-2023</p>

    <h2>1. Introduction</h2>
    <p>Welcome to File Share! This privacy policy is intended to inform users of our website (hereinafter referred to as "File Share") about our policies and procedures regarding the collection, use, and disclosure of personally identifiable information and the content shared on our platform. By using File Share, you agree to the terms and practices described in this policy.</p>

    <h2>2. Copyright and Content Ownership</h2>
    <p>File Share is a file-sharing platform that allows users to upload, share, and access files. Users are responsible for the content they upload, and File Share respects copyright and intellectual property rights. We do not condone or tolerate copyright infringement.</p>
    <ul>
        <li>Users must ensure they have the necessary rights or permissions to upload and share files.</li>
        <li>File Share respects the Digital Millennium Copyright Act (DMCA) and other applicable copyright laws. We will respond promptly to legitimate copyright infringement claims.</li>
    </ul>

    <h2>3. User Responsibility</h2>
    <p>Users of File Share are responsible for their actions on the platform:</p>
    <ul>
        <li>Users must not upload or share copyrighted material without proper authorization.</li>
        <li>Users must comply with all applicable copyright laws and respect intellectual property rights.</li>
        <li>Users are encouraged to review the copyright policies of files shared on File Share and adhere to them.</li>
    </ul>

    <h2>4. Liability and Disclaimers</h2>
    <p>File Share is provided "as-is" without any warranties, express or implied. We do not guarantee the accuracy, completeness, or legality of content shared on our platform. File Share, its developers, and administrators are not responsible for:</p>
    <ul>
        <li>Copyright violations by users.</li>
        <li>Damages resulting from the use of our platform.</li>
        <li>Legal actions, including lawsuits or court proceedings, arising from content shared on File Share.</li>
    </ul>

    <h2>5. Changes to this Privacy Policy</h2>
    <p>File Share may update this privacy policy from time to time to reflect changes in our practices or for legal and regulatory reasons. We encourage users to review this policy periodically for any updates.</p>

    <h2>6. Contact Information</h2>
    <p>If you have any questions or concerns about this privacy policy or copyright-related matters, please contact us at musiitwaelijah@gmail.com.</p>
</div>
{% endblock %}
